* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  color: #006ad1;
  font-size: 12px;
  font-weight: bold;
}

body {
  padding: 0;
}

a {
  color: #006ad1;
}

hr {
  width: 100vw;
  margin: 30px 0;
  height: 1px;
  background: #e6e6e6;
  border: 0;
}

.icons {
  margin: 30px;
}


/**************************/

.facebook {
  background-image: url("../svg/facebook.svg");
}
.dribbble {
  background-image: url("../svg/dribbble.svg");
}
.behance {
  background-image: url("../svg/behance.svg");
}
.github {
  background-image: url("../svg/github.svg");
}
.podcast {
  background-image: url("../svg/podcast.svg");
}
.skype {
  background-image: url("../svg/skype.svg");
}
.tumblr {
  background-image: url("../svg/tumblr.svg");
}
.twitter {
  background-image: url("../svg/twitter.svg");
}
.youtube {
  background-image: url("../svg/youtube.svg");
}

i {
  display: block;
  background-size: cover;
  padding-top: 100%;
}

$icon_count: 9;

$cols: 1/#{$icon_count};

@for $i from 2 through $icon_count {
  $cols: append( $cols, 1/#{$icon_count}, space)
}

.icons {
  gg:
    columns($cols)
    gutter(5%)
  ;
}














