* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  line-height: 1.618;
  color: #006ad1;
  font-size: 0.8rem;
}

body {
  padding: 30px;
}

body > * * {
  background: rgba(30, 144, 255, 0.66);
  outline: 1px solid rgba(30, 144, 255, 0.75);
  outline-offset: -1px;
  padding: 1.618rem;
}

body > * * * {
  outline: 0;
}

a {
  color: #006ad1;
}

nav {
  text-align: right;
}

nav a {
  display: inline-block;
}


/**************************/

.single_grid {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  
}









