* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: sans-serif;
  text-align: center;
  line-height: 50px;
  color: #006ad1;
  font-size: 12px;
  font-weight: bold;
}

body {
  padding: 30px;
}

body > * * {
  background: rgba(30, 144, 255, 0.66);
  outline: 1px solid rgba(30, 144, 255, 0.75);
  outline-offset: -1px;
}

hr {
  width: 100vw;
  margin: 30px 0 30px -30px;
  height: 1px;
  background: #e6e6e6;
  border: 0;
}


/**************************/

@ant-gutters 20px, 40px;

.nesting {
  gg: columns(
      18/40 11/40 11/40
    )
    rows(
      200px 200px 200px
    )
  ;
}

.child {
  gg: columns(
      1/2 1/2
    )
    rows(
      100px 100px
    )
    gutters(0)
  ;
}









